body {
    background-color:#C0C0C0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border-radius: 50px;
    border: 1px solid #6A5ACD;
    
}

#title, .subtitle, .post_title {
    color: #6A5ACD;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
}

.post_title{
    font-size: 16px;
    font-size: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #B0C4DE;
    padding: 15px;
    border: 3px solid #778899;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.image {
    margin-bottom: 15px;
    width: 20%;
}

a {
    text-decoration: line-through;
    color: #778899;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    color: #9370DB;
    text-decoration: none;
}
